USE [emlakDB]
GO
/****** Object:  Table [dbo].[ayarlar]    Script Date: 6.02.2018 02:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ayarlar](
	[logKayitKonum] [nvarchar](255) NOT NULL,
	[resimKonum] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ayarlar] PRIMARY KEY CLUSTERED 
(
	[resimKonum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ev]    Script Date: 6.02.2018 02:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ev](
	[emlakNumarasi] [int] IDENTITY(1,1) NOT NULL,
	[odaSayisi] [int] NOT NULL,
	[katNumarasi] [int] NOT NULL,
	[semt] [nvarchar](255) NOT NULL,
	[toplamEvAlani] [int] NOT NULL,
	[yapimTarihi] [date] NOT NULL,
	[evTuru] [nvarchar](50) NOT NULL,
	[evDurumu] [char](10) NOT NULL,
	[il] [nvarchar](20) NOT NULL,
	[ilce] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Ev] PRIMARY KEY CLUSTERED 
(
	[emlakNumarasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ilceler]    Script Date: 6.02.2018 02:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ilceler](
	[ilce_no] [int] NOT NULL,
	[isim] [varchar](50) NULL,
	[il_no] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[iller]    Script Date: 6.02.2018 02:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[iller](
	[il_no] [int] NOT NULL,
	[isim] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[il_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KiralikEv]    Script Date: 6.02.2018 02:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KiralikEv](
	[emlakNumarasi] [int] NOT NULL,
	[kira] [int] NOT NULL,
	[depozito] [int] NOT NULL,
 CONSTRAINT [PK_KiralikEv] PRIMARY KEY CLUSTERED 
(
	[emlakNumarasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 6.02.2018 02:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[kullaniciAd] [nchar](20) NOT NULL,
	[kullaniciSifre] [nvarchar](50) NOT NULL,
	[kullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[yetki] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[kullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 6.02.2018 02:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[musteriID] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nchar](10) NOT NULL,
	[soyad] [nchar](10) NOT NULL,
	[telefonNo] [int] NOT NULL,
	[mail] [nvarchar](50) NULL,
	[tc] [int] NOT NULL,
	[adres] [nchar](255) NOT NULL,
	[emlakNumarasi] [int] NOT NULL,
	[resim] [image] NULL,
 CONSTRAINT [PK_Musteri] PRIMARY KEY CLUSTERED 
(
	[musteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SatilikEv]    Script Date: 6.02.2018 02:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatilikEv](
	[emlakNumarasi] [int] NOT NULL,
	[fiyat] [int] NOT NULL,
 CONSTRAINT [PK_SatilikEv] PRIMARY KEY CLUSTERED 
(
	[emlakNumarasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ayarlar] ([logKayitKonum], [resimKonum]) VALUES (N'', N'C:\Emlak')
SET IDENTITY_INSERT [dbo].[Ev] ON 

INSERT [dbo].[Ev] ([emlakNumarasi], [odaSayisi], [katNumarasi], [semt], [toplamEvAlani], [yapimTarihi], [evTuru], [evDurumu], [il], [ilce]) VALUES (1, 2, 2, N'sad', 2, CAST(N'2018-02-11' AS Date), N'Daire', N'aktif     ', N'Adıyaman', N'Besni')
INSERT [dbo].[Ev] ([emlakNumarasi], [odaSayisi], [katNumarasi], [semt], [toplamEvAlani], [yapimTarihi], [evTuru], [evDurumu], [il], [ilce]) VALUES (2, 2, 2, N'sdsad', 2, CAST(N'2018-03-03' AS Date), N'Bahçeli', N'aktif     ', N'Afyonkarahisar', N'Çay')
INSERT [dbo].[Ev] ([emlakNumarasi], [odaSayisi], [katNumarasi], [semt], [toplamEvAlani], [yapimTarihi], [evTuru], [evDurumu], [il], [ilce]) VALUES (3, 2, 2, N'sdsad', 2, CAST(N'2018-03-03' AS Date), N'Bahçeli', N'aktif     ', N'Afyonkarahisar', N'Çay')
SET IDENTITY_INSERT [dbo].[Ev] OFF
INSERT [dbo].[ilceler] ([ilce_no], [isim], [il_no]) VALUES (1, N'Abana', 37)
INSERT [dbo].[ilceler] ([ilce_no], [isim], [il_no]) VALUES (2, N'Acıgöl', 50)
INSERT [dbo].[ilceler] ([ilce_no], [isim], [il_no]) VALUES (3, N'Acıpayam', 20)
GO
INSERT [dbo].[iller] ([il_no], [isim]) VALUES (1, N'Adana')
INSERT [dbo].[iller] ([il_no], [isim]) VALUES (2, N'Adıyaman')
INSERT [dbo].[iller] ([il_no], [isim]) VALUES (3, N'Afyonkarahisar')
INSERT [dbo].[KiralikEv] ([emlakNumarasi], [kira], [depozito]) VALUES (35, 2, 22)
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([kullaniciAd], [kullaniciSifre], [kullaniciID], [yetki]) VALUES (N'ergec               ', N'ergec', 1, N'true      ')
INSERT [dbo].[Kullanici] ([kullaniciAd], [kullaniciSifre], [kullaniciID], [yetki]) VALUES (N'ergecd              ', N'ergecd', 2, N'true      ')
INSERT [dbo].[Kullanici] ([kullaniciAd], [kullaniciSifre], [kullaniciID], [yetki]) VALUES (N'Admin               ', N'123', 3, N'true      ')
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
SET IDENTITY_INSERT [dbo].[Musteri] ON 

INSERT [dbo].[Musteri] ([musteriID], [ad], [soyad], [telefonNo], [mail], [tc], [adres], [emlakNumarasi], [resim]) VALUES (1, N'asd       ', N'asd       ', 33, N'sad', 1111, N'asd                                                                                                                                                                                                                                                            ', 33, NULL)
SET IDENTITY_INSERT [dbo].[Musteri] OFF
INSERT [dbo].[SatilikEv] ([emlakNumarasi], [fiyat]) VALUES (33, 22)
INSERT [dbo].[SatilikEv] ([emlakNumarasi], [fiyat]) VALUES (41, 2223)
INSERT [dbo].[SatilikEv] ([emlakNumarasi], [fiyat]) VALUES (42, 555)
ALTER TABLE [dbo].[ilceler]  WITH CHECK ADD  CONSTRAINT [fk_il_no] FOREIGN KEY([il_no])
REFERENCES [dbo].[iller] ([il_no])
GO
ALTER TABLE [dbo].[ilceler] CHECK CONSTRAINT [fk_il_no]
GO
ALTER TABLE [dbo].[KiralikEv]  WITH CHECK ADD  CONSTRAINT [FK_KiralikEv_Ev] FOREIGN KEY([emlakNumarasi])
REFERENCES [dbo].[Ev] ([emlakNumarasi])
GO
ALTER TABLE [dbo].[KiralikEv] CHECK CONSTRAINT [FK_KiralikEv_Ev]
GO
ALTER TABLE [dbo].[Musteri]  WITH CHECK ADD  CONSTRAINT [FK_Musteri_Ev] FOREIGN KEY([emlakNumarasi])
REFERENCES [dbo].[Ev] ([emlakNumarasi])
GO
ALTER TABLE [dbo].[Musteri] CHECK CONSTRAINT [FK_Musteri_Ev]
GO
ALTER TABLE [dbo].[SatilikEv]  WITH CHECK ADD  CONSTRAINT [FK_SatilikEv_Ev] FOREIGN KEY([emlakNumarasi])
REFERENCES [dbo].[Ev] ([emlakNumarasi])
GO
ALTER TABLE [dbo].[SatilikEv] CHECK CONSTRAINT [FK_SatilikEv_Ev]
GO
/****** Object:  StoredProcedure [dbo].[il_listeleme]    Script Date: 6.02.2018 02:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[il_listeleme](
	@il nvarchar(20)
)
AS
select emlakDB.dbo.ilceler.isim from emlakDB.dbo.ilceler where il_no= (Select il_no from iller where iller.isim= @il)

GO
/****** Object:  StoredProcedure [dbo].[kiralik_ev_select]    Script Date: 6.02.2018 02:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[kiralik_ev_select]
as
begin
DECLARE @data nvarchar(500)
SELECT * FROM Ev,KiralikEv 
return @data
end


GO
